<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>registration</title>
</head>
<body>
    <!--/*@thymesVar id="user" type="com.example.resume.model.User"*/-->
    <form th:method="POST" th:action="@{/registration}" th:object="${user}">
        <label>
            <input type="text" th:field="*{username}">
        </label>
        <br>
        <label>
            <input type="password" th:field="*{password}">
        </label>
        <br>
        <label>
            <input type="password" th:field="*{password2}">
        </label>
        <br>
        <button type="submit">submit</button>
    </form>
    <a th:href="@{/login}" th:text="login">login</a>
</body>
</html>